.information__content{
    max-width: 495px;
    margin-top: 80px;
}

.information__content-title{
    color: #001F29;
    font-family: 'Ubuntu';
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.information__content_text{
    color: #B9C0C1;
    font-family: 'Ubuntu';
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 16px; 
}

.information__cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 104px;
    margin-bottom: 106px;
    padding: 0 24px 0 24px;
}

.information__card{
    max-width: 200px;
}

.information__card img{
    margin-bottom: 16px;
}

.information__card_title{
    color: #001F29;
    font-family: 'Ubuntu';
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 16px;
}

.information__card_text{
    color: #ABADAD;
    font-family: 'Ubuntu';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
}